PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://potatobhai69_db_user:NbgcQryquOrBNNEL@cluster0.halxcuy.mongodb.net/branplate?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
FIRST_ADMIN_EMAIL=youradmin@gmail.com
