PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/branplate?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
FIRST_ADMIN_EMAIL=youradmin@gmail.com
